/* Set global font and box-sizing */
* {
    font-family: 'Farsan', cursive;
    box-sizing: border-box;
    background: rgb(24,109,96);
    background: radial-gradient(circle, rgba(24,109,96,1) 16%, rgba(26,34,101,1) 85%); 
  }
  
  /* Set container width and center it */
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Style the header */
  h1 {
    text-align: center;
    font-size: 48px;
    margin-top: 32px;
    border-radius: 50px;
    border-style: dashed;
    border-width: 20px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
  }
  
  /* Style animals*/
  #list-characters {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: white;
    border: 2px solid black;
    padding: 10px;
  }
  
  #list-characters{
    list-style-type: none;
    padding: 10px;
    margin: 10px;
  }
  
  #list-characters {
    padding: 10px;

  }
  
  #list-characters:last-of-type {
    border-bottom: none;
  }
  
  /* Style the name sections */
  .name-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 32px;
  }
  
  /* Style the animal section */
  .animal-section {
    width: 40%;
    margin-bottom: 32px;
    text-align: center;
    box-sizing: border-box;
  }
  
  /* Style the animal names */
  h4 {
    font-size: 32px;
    margin-top: 16px;
    cursor: pointer;
    padding: 8px 10px;
    border: black;
  }
  
  /* Style the animal images */
  img {
    max-width: 100%;
    height: auto;
    margin-top: 16px;
    box-shadow: 0px 0px 10px black;
  }
  
  /* Style the vote button */
  button {
    background-color: rgb(173, 151, 63);
    border: black;
    color: white;
    padding: 8px 16px;
    margin-top: 16px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(171, 235, 198);
  }
  
  /* Style the path section */
  div[id$="-path"] {
    display: none;
    margin-top: 1rem;
  }
  
  /* Set media query for smaller screens */
  @media only screen and (max-width: 800px) {
    /* Set name section to column layout */
    .name-section {
      flex-direction: column;
    }
  
    /* Set name sections to full width */
    .name-section {
      width: 100%;
    }
  }